/*
** LoweVoice.com CSS stylesheet
*/

@font-face {
  font-family: 'Belleza';
  src: url('assets/fonts/Belleza-Regular.ttf');
}

body, h1, h2, h3, h4, p, .entry p, .footer p {
font-family: 'Optima', 'Belleza', arial, sans-serif;
}

.white-box {
background:#FCFCFC;
border-radius: 6px;
margin: 24px 60px;
padding: 2px 0;
}

.keep {
white-space: nowrap;
}

.header {
padding: 8px;
}

.header h1, .header h2 {
line-height: 1.1em;
letter-spacing: 1px;
transform: scale(1.1, 1);
}
.header h1 {
font-size: 52px;
color: black;
}
.header h2 {
font-size: 40px;
color: #0B588F;
}
.header h3 {
margin: 12px;
font-size: 24px;
letter-spacing: 1px;
font-weight: 100;
transform: scale(1.5, 1);
}

#tagline {
color: white;
}

body {
background-color: #082a5a;
}

.twocol-one {
margin: 0 4px 0 0;
}
.box-content {
margin: 1em 2em;
text-align: left;
}

.entry h3 {
font-size: 1.6em; color: #0B588F;
margin: 0 0 4px 0;
}
.entry p {
font-size: 14px; color: black;
}

.woo-sc-divider {
margin-bottom: 8px;
}

.footer {
margin: 0 60px;
border: hidden;
}
.footer p {
color: white !important;
text-align: center;
}

.entry img, img.thumbnail, #portfolio .group.portfolio-img img {
border: 0px solid #e6e6e6;
}

.entry p {
font-weight: normal;
}

.demos {
margin: 8px;
}
.demos h3, .demos h4 {
font-weight: bold;
font-size: 14px;
margin: 2px 0;
}
.demos audio {
max-width: 96%;
max-height: 22px;
}
.demos img {
vertical-align: top;
height: 20px;
}

.demo {
min-height: 50px;
}

.agency-list {
margin: 8px 4px 12px 0;
}
.agency {
display: inline-block;
margin: 0 4px;
}
.agency p {
}
.agency img {
width: 96px;
height: 36px;
padding: 0;
background: #FCFCFC; /* match white-box */
}
.office p {
margin: 12px 0 0 0;
font-size: 18px;
}
.office p {
font-weight: 700;
}
.agent {
margin: 8px 0 0 0;
}
.agent p {
margin: -6px 0;
font-weight: 600;
}
.agent a {
color: #0B588F;
font-weight: 500;
}
.agent p, .agent a {
font-size: 15px;
}

.contact {
margin: 8px 4px;
}
.contact p {
margin: 0;
font-size: 16px;
font-weight: bold;
}
.contact a {
color: #0B588F;
}
.contact img {
width: 20px;
height: 20px;
margin: 0 8px 0 0;
background: #FCFCFC; /* match white-box */
}

.client {
display: inline-block;
width: 56px;
height: 40px;
margin: -2px 2px;
}
.client img {
max-height: 100%;
max-width: 100%;
width: 96%;
vertical-align: middle;
background: #FCFCFC; /* match white-box */
}

.credit-list {
margin: 12px 0;
}
.credit {
display: inline-block;
margin: 0 1em -2em 0;
width: 360px;
height: 280px;
}
.credit iframe {
width: 100%;
height: 72%;
}
.credit p {
text-align: right;
font-size: 16px;
}

/* DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site
*/

/* Narrow desktop window */
@media only screen and (max-width: 720px) {
.white-box {
margin: 24px 12px;
}
.header-text {
width: 240px;
}
.header h1 {
font-size: 34px;
}
.header h2 {
font-size: 28px;
}
.header h3 {
font-size: 18px;
}

}

/* Smartphone */
@media only screen and (max-width: 480px) {
.white-box {
margin: 24px 4px;
}
.header-text {
width: 180px;
}
.header h1, .header h2 {
letter-spacing: 0;
}
.header h1 {
font-size: 36px !important;
}
.header h2 {
font-size: 30px !important;
}
.header h3 {
font-size: 20px !important;
font-weight: 600;
transform: scale(1, 0.8);
}
.demos {
margin: 12px 2px;
}
.client {
margin: 0;
width: 30px;
height: 20px;
}
.credit {
display: contents;
align: center;
width: 100%;
}
.credit iframe {
align: center;
width: 300px;
}
.credit p {
text-align: center;
font-size: 16px;
}

}
