/*
** LoweVoice.com CSS stylesheet
*/

@font-face {
  font-family: 'Belleza';
  src: url('assets/fonts/Belleza-Regular.ttf');
}

body, h1, h2, h3, p, .entry p, .footer p {
font-family: 'Optima', 'Belleza', arial, sans-serif;
}

.white-box {
background:#f8f8f8;
border-radius: 6px;
margin: 24px 60px;
padding: 2px 0;
}

.keep {
white-space: nowrap;
}

.header-logo {
width: 6em;
}
.header-text {
width: 16em;
}

.header {
padding: 8px 4px;
}
.header table {
width: 100%;
}
.header img {
display: block;
float: right;
height: 80px;
width: 80px;
}
.header td {
padding: 4px 16px;
vertical-align: middle;
text-align: center;
}

.header h1, .header h2 {
margin: -4px 0;
padding: 0;
letter-spacing: 2px;
}
.header h1 {
font-size: 48px;  color: black;
}
.header h2 {
font-size: 36px; color: #0B588F;
}

body {
background-color: #082a5a;
}

.twocol-one {
margin: 0 4px 0 0;
}
.box-content {
margin: 1em 2em;
text-align: left;
}

.entry .hashtag p {
font-weight: bold;
}

.entry h3 {
font-size: 1.6em; color: #0B588F;
margin: 0 0 4px 0;
}
.entry p {
font-size: 14px; color: black;
}

.bio p {
margin: 18px 0;
padding-right: 30px;
}

.woo-sc-divider {
margin-bottom: 8px;
}

.footer {
margin: 0 60px;
border: hidden;
}
.footer p {
color: white !important;
text-align: center;
}

.entry img, img.thumbnail, #portfolio .group.portfolio-img img {
border: 0px solid #e6e6e6;
}

.entry p {
font-weight: normal;
}

.demos {
margin: 1em 0;
}
.demos h3 {
}
.demos h4 {
font-weight: bold;
font-size: 12px;
margin: 0 0 -2px 0;
}
.demos audio {
max-width: 84%;
}
.demos img {
vertical-align: top;
}

.agent-list {
margin: 1em 0;
}
.agent-list h3 {
}
.agent {
display: inline-block;
margin: 0 0 1em 0;
}
.agent img {
width: 100px;
height: 100px;
}
.agent table {
margin: 4px 0 0 0;
background: #f8f8f8; /* match white-box */
}
.agent p {
margin: 0;
background: #f8f8f8; /* match white-box */
font-size: 16px;
}
.agent p.agency-name {
font-size: 18px;
font-weight: bold;
}
.agent table td {
padding: 0 1em 0 0;
border: 0 hidden;
}
.agent a {
color: #0B588F;
}

.bio {
margin: 0 8px 0 4px;
}
.bio p {
font-size: 16px;
}

.contact {
margin: 1em 0;
}
.contact p {
margin: 4px 0;
font-size: 16px;
font-weight: bold;
}
.contact .icon-list img {
margin: 18px 0 0 0;
}
.contact a {
color: #0B588F;
}
.contact img {
width: 24px;
margin-right: 8px;
background: #f8f8f8; /* match white-box */
}

.client {
display: inline-block;
width: 60px;
height: 36px;
margin: 0 2px;
}
.client img {
max-height: 100%;
max-width: 100%;
width: 90%;
vertical-align: middle;
background: #f8f8f8; /* match white-box */
}

.credit-list {
margin: 12px 0;
}
.credit {
display: inline-block;
margin: 0 1em 0 0;
width: 360px;
height: 280px;
}
.credit iframe {
width: 100%;
height: 72%;
}
.credit p {
text-align: right;
font-size: 16px;
}

/* DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site
*/

/* Narrow desktop window */
@media only screen and (max-width: 720px) {
.white-box {
margin: 24px 12px;
}
.header-logo {
width: 64px;
}
.header-text {
width: 240px;
}
.header img {
height: 60px;
width: 60px;
}
.header td {
padding: 2px 10px;
}
.header h1 {
font-size: 34px;
}
.header h2 {
font-size: 28px;
}

}

/* Smartphone */
@media only screen and (max-width: 480px) {
.white-box {
margin: 24px 4px;
}
.header-logo {
width: 50px;
}
.header-text {
width: 180px;
}
.header img {
height: 50px !important;
width: 50px !important;
}
.header td {
padding: 2px 8px;
}
.header h1, .header h2 {
letter-spacing: 0;
}
.header h1 {
font-size: 30px !important;
}
.header h2 {
font-size: 24px !important;
}
.client {
width: 54px;
height: 36px;
}
.entry .hashtag p {
font-size: 12px;
}

}
